Repository FlynnVIN10/Zeropoint-Protocol, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FlynnVIN10, @SynthiantTeam, @HumanConsensus

.github/CODEOWNERS:

# All files require CEO (temporary) until CTO handle is added.
# Replace or append the CTO GitHub handle when available.
* @FlynnVIN10

evidence/** @SynthiantTeam @HumanConsensus
docs/** @SynthiantTeam @HumanConsensus
scripts/** @SynthiantTeam @HumanConsensus
.github/** @SynthiantTeam @HumanConsensus

auto: update v19 curl evidences from CI
  public/evidence/v19/curl/api_healthz.http
  public/evidence/v19/curl/api_readyz.http
  public/evidence/v19/curl/status_health.http
  public/evidence/v19/curl/status_ready.http
  public/evidence/v19/curl/status_version.http
  public/evidence/v19/curl/status_version_json.http
Owners: @FlynnVIN10

[PHASE5] Training run metrics
  public/evidence/training/run-20250826T182727Z/metrics.json
Owners: @FlynnVIN10

Security: enforce HSTS, CSP, Referrer-Policy, Permissions-Policy, inline disposition
  public/_headers
Owners: @FlynnVIN10

auto: update v19 curl evidences from CI
  public/evidence/v19/curl/api_healthz.http
  public/evidence/v19/curl/api_readyz.http
  public/evidence/v19/curl/status_health.http
  public/evidence/v19/curl/status_ready.http
  public/evidence/v19/curl/status_version.http
  public/evidence/v19/curl/status_version_json.http
Owners: @FlynnVIN10

Add: tinygrad_toy_run.py minimal SCP v1 metrics emitter
  scripts/tinygrad_toy_run.py
Owners: @SynthiantTeam, @HumanConsensus

Evidence: add local run, rebuilt leaderboard, refreshed gate curls
  evidence/training/leaderboard.json
  evidence/training/submissions/local_run/20250826T221313Z/metrics.json
  evidence/v19/deploy_log.txt
Owners: @SynthiantTeam, @HumanConsensus

auto: update v19 curl evidences from CI
  public/evidence/v19/curl/api_healthz.http
  public/evidence/v19/curl/api_readyz.http
  public/evidence/v19/curl/status_health.http
  public/evidence/v19/curl/status_ready.http
  public/evidence/v19/curl/status_version.http
  public/evidence/v19/curl/status_version_json.http
Owners: @FlynnVIN10

Evidence: add Lighthouse report for /status/training
  evidence/v19/lighthouse/status-training.html
  public/evidence/v19/lighthouse/status-training.html
Owners: @SynthiantTeam, @HumanConsensus, @FlynnVIN10

auto: update v19 curl evidences from CI
  public/evidence/v19/curl/api_healthz.http
  public/evidence/v19/curl/api_readyz.http
  public/evidence/v19/curl/status_health.http
  public/evidence/v19/curl/status_ready.http
  public/evidence/v19/curl/status_version.http
  public/evidence/v19/curl/status_version_json.http
Owners: @FlynnVIN10

API: add SSE streams (synthiant, alerts, consensus) and consensus APIs (proposals, vote)
  functions/api/events/alerts.ts
  functions/api/events/consensus.ts
  functions/api/events/synthiant.ts
  functions/consensus/proposals.ts
  functions/consensus/vote.ts
Owners: @FlynnVIN10

auto: update v19 curl evidences from CI
  public/evidence/v19/curl/api_healthz.http
  public/evidence/v19/curl/api_readyz.http
  public/evidence/v19/curl/status_health.http
  public/evidence/v19/curl/status_ready.http
  public/evidence/v19/curl/status_version.http
  public/evidence/v19/curl/status_version_json.http
Owners: @FlynnVIN10

Evidence: verify SSE (synthiant, alerts, consensus) and consensus APIs (GET/POST)
  evidence/v19/curl/consensus_proposals_get.http
  evidence/v19/curl/consensus_proposals_post.http
  evidence/v19/curl/consensus_vote_post.http
  evidence/v19/curl/events_alerts.http
  evidence/v19/curl/events_consensus.http
  evidence/v19/curl/events_synthiant.http
Owners: @SynthiantTeam, @HumanConsensus

auto: update v19 curl evidences from CI
  public/evidence/v19/curl/api_healthz.http
  public/evidence/v19/curl/api_readyz.http
  public/evidence/v19/curl/status_health.http
  public/evidence/v19/curl/status_ready.http
  public/evidence/v19/curl/status_version.http
  public/evidence/v19/curl/status_version_json.http
Owners: @FlynnVIN10

CI: deflake push-validation; align verification-gate with prod headers and fields
  .github/workflows/push-validation.yml
  .github/workflows/verification-gate.yml
Owners: @SynthiantTeam, @HumanConsensus

CI: make auto-deploy conditional on Cloudflare secrets; keep validation hard
  .github/workflows/auto-deploy.yml
Owners: @SynthiantTeam, @HumanConsensus

SPA: wire tickers to SSE; consensus panel to APIs; prompt submit creates proposal
  components/BottomTicker.tsx
  components/LeftPanel.tsx
  components/PromptPane.tsx
  components/TopTicker.tsx
Owners: @FlynnVIN10

CI: enable manual dispatch for verification-gate
  .github/workflows/verification-gate.yml
Owners: @SynthiantTeam, @HumanConsensus

Status: add HSTS/CSP/Referrer-Policy/Permissions-Policy headers on /status/version.json
  functions/status/version.json.ts
Owners: @FlynnVIN10

CI: make header checks robust against propagation lag; still fail if policies absent in repo
  .github/workflows/verification-gate.yml
Owners: @SynthiantTeam, @HumanConsensus

CI: fix jq install using apt-get; keep LHCI via npm
  .github/workflows/verification-gate.yml
Owners: @SynthiantTeam, @HumanConsensus

CI: robust JSON extraction in Gate to avoid jq parse errors (CRLF-safe)
  .github/workflows/verification-gate.yml
Owners: @SynthiantTeam, @HumanConsensus

auto: update v19 curl evidences from CI
  public/evidence/v19/curl/api_healthz.http
  public/evidence/v19/curl/api_readyz.http
  public/evidence/v19/curl/status_health.http
  public/evidence/v19/curl/status_ready.http
  public/evidence/v19/curl/status_version.http
  public/evidence/v19/curl/status_version_json.http
Owners: @FlynnVIN10

Evidence: refresh deploy_log and update v19 index
  evidence/v19/deploy_log.txt
Owners: @SynthiantTeam, @HumanConsensus

Evidence: update v19 index with commit, build time, CI run, and links
  public/evidence/v19/index.html
Owners: @FlynnVIN10

auto: update v19 curl evidences from CI
  public/evidence/v19/curl/api_healthz.http
  public/evidence/v19/curl/api_readyz.http
  public/evidence/v19/curl/status_health.http
  public/evidence/v19/curl/status_ready.http
  public/evidence/v19/curl/status_version.http
  public/evidence/v19/curl/status_version_json.http
Owners: @FlynnVIN10

SPA: set index.html to SPA shell with fallback links
  public/index.html
Owners: @FlynnVIN10

auto: update v19 curl evidences from CI
  public/evidence/v19/curl/api_healthz.http
  public/evidence/v19/curl/api_readyz.http
  public/evidence/v19/curl/status_health.http
  public/evidence/v19/curl/status_ready.http
  public/evidence/v19/curl/status_version.http
  public/evidence/v19/curl/status_version_json.http
Owners: @FlynnVIN10

Evidence: add Lighthouse report for root
  evidence/v19/lighthouse/root.html
  public/evidence/v19/lighthouse/root.html
Owners: @SynthiantTeam, @HumanConsensus, @FlynnVIN10

auto: update v19 curl evidences from CI
  public/evidence/v19/curl/api_healthz.http
  public/evidence/v19/curl/api_readyz.http
  public/evidence/v19/curl/status_health.http
  public/evidence/v19/curl/status_ready.http
  public/evidence/v19/curl/status_version.http
  public/evidence/v19/curl/status_version_json.http
Owners: @FlynnVIN10

Evidence: add headers tail; Report: Gate PASS with links and artifacts
  PM_STATUS_REPORT.md
  evidence/v19/verify/headers_tail.txt
Owners: @FlynnVIN10, @SynthiantTeam, @HumanConsensus

auto: update v19 curl evidences from CI
  public/evidence/v19/curl/api_healthz.http
  public/evidence/v19/curl/api_readyz.http
  public/evidence/v19/curl/status_health.http
  public/evidence/v19/curl/status_ready.http
  public/evidence/v19/curl/status_version.http
  public/evidence/v19/curl/status_version_json.http
Owners: @FlynnVIN10

[PHASE5] Training run metrics
  public/evidence/training/run-20250827T012630Z/metrics.json
Owners: @FlynnVIN10

v20: kickoff plan (routing, consensus UI, SPA build, CI evidence)
  docs/phase-v20-kickoff.md
Owners: @SynthiantTeam, @HumanConsensus

v20: add routing probe (CI + evidence) and router telemetry/route metadata
  .github/workflows/routing-probe.yml
  scripts/probe-routing.mjs
  services/router.ts
Owners: @SynthiantTeam, @HumanConsensus, @FlynnVIN10

v20: add initial routing probe evidence
  evidence/v20/routing/probe.json
Owners: @SynthiantTeam, @HumanConsensus

v20: consensus history summary and advanced route info toggle in SPA
  components/LeftPanel.tsx
  components/PromptPane.tsx
Owners: @FlynnVIN10

Refactor monitoring to localhost; evidence builder DB-backed; training status reads DB-fed latest
  functions/api/training/status.ts
  monitoring/continuous-monitor.sh
  scripts/build-dynamic-evidence.mjs
Owners: @FlynnVIN10, @SynthiantTeam, @HumanConsensus

Local dev: training/status reads origin asset; evidence writes to public; schema aligned
  functions/api/training/status.ts
  scripts/_schemas/training-status.schema.json
  scripts/build-dynamic-evidence.mjs
Owners: @FlynnVIN10, @SynthiantTeam, @HumanConsensus

Verification Gate PASS (localhost, DB-fed). Evidence updated; deploy_log appended.
  PM_STATUS_REPORT.md
  evidence/phase5/verify/verify-2025-08-27T04-32-43-422Z.json
  evidence/phase5/verify/verify-2025-08-27T04-33-49-608Z.json
  evidence/phase5/verify/verify-2025-08-27T04-35-31-838Z.json
  evidence/v19/deploy_log.txt
Owners: @FlynnVIN10, @SynthiantTeam, @HumanConsensus

v20: add Soulchain KV binding; append-only consensus logs; Zeroth gate status; router config endpoint
  functions/api/router/config.ts
  functions/api/zeroth/status.ts
  functions/consensus/proposals.ts
  functions/consensus/vote.ts
  wrangler.toml
Owners: @FlynnVIN10
