Repository FlynnVIN10/Zeropoint-Protocol, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FlynnVIN10, @SynthiantTeam, @HumanConsensus

v20: consensus history API (KV tally), router instances endpoint, UI uses history
  components/LeftPanel.tsx
  functions/api/router/instances.ts
  functions/consensus/history.ts
Owners: @FlynnVIN10

v20: proposals GET reads from KV; derives approved/vetoed from latest votes; pending = no vote
  functions/consensus/proposals.ts
Owners: @FlynnVIN10

v20: consensus logs readback; router exec endpoint with telemetry
  functions/api/router/exec.ts
  functions/consensus/logs.ts
Owners: @FlynnVIN10

dev: fix redirects; mirror petals/wondercraft evidence into public to remove fallbacks
  public/_redirects
  scripts/build-dynamic-evidence.mjs
Owners: @FlynnVIN10, @SynthiantTeam, @HumanConsensus

v20: update routing probe evidence
  evidence/v20/routing/probe.json
Owners: @SynthiantTeam, @HumanConsensus

v20: PM report updated with endpoints and routing probe evidence
  PM_STATUS_REPORT.md
Owners: @FlynnVIN10

homepage: remove GPT-style launch text; focus on Zeropoint Protocol links
  public/index.html
Owners: @FlynnVIN10

ci: add workflow sentinel to detect failed runs; add local script
  .github/workflows/workflow-sentinel.yml
  scripts/check-workflows.mjs
Owners: @SynthiantTeam, @HumanConsensus

report: scrub timeframes/estimates per CEO directive; immediate execution only
  PM_STATUS_REPORT.md
Owners: @FlynnVIN10

evidence: add v19 index builder and generated index.html
  public/evidence/v19/index.html
  scripts/build-evidence-index.mjs
Owners: @FlynnVIN10, @SynthiantTeam, @HumanConsensus

.github/CODEOWNERS:

# All files require CEO (temporary) until CTO handle is added.
# Replace or append the CTO GitHub handle when available.
* @FlynnVIN10

evidence/** @SynthiantTeam @HumanConsensus
docs/** @SynthiantTeam @HumanConsensus
scripts/** @SynthiantTeam @HumanConsensus
.github/** @SynthiantTeam @HumanConsensus
